/**
 * CSS for Algoristennis
 * @authors Alexandre Andrieux <alex@icosacid.com>, Nik Rowell <nik@nikrowell.com>
 * @since 2017-04
 */

* {
	margin: 0;
	padding: 0;
	white-space: nowrap;
}
html,
body {
	height: 100%;
	width: 100%;
	background: #333;
	overflow: hidden;
}

canvas#ourcanvas {
	background: black;
}
